<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.teodorapetrisor.example"
        version = "0.0.1">
    <name>MCT-Live</name>
    <description>
        Mobile application for MCT
    </description>
    <author>
        Teodora Petrisor, Damian Gawenda
    </author>
    <preference name="permissions" value="none" />
	<preference name="orientation" value="portrait" />
	
	<icon src="icon.png" />
	<gap:splash src="splash.jpg" width="243" height="218"/>
	
</widget>